html, body {
	margin: 0;
	height: 100%;
	width: 100%;
}
#content {
	background-color: black;
	height: 100%;
	width: 100%;
	overflow: hidden;
	position: relative;
}
.bg {
	height: 200%;
	width: 100%;
	position: absolute;
	top: 0;
}
#clock-container {
    text-align: center;
    position: relative;
	top: 36%;
	-webkit-transform: translateY(-50%);
}
#clock {
    font-size: 6rem;
    color: black;
    margin: 0;
    font-family: First Order;
}
#trees {
	position:absolute;
	bottom:9rem;
	left:3rem;
	height:40rem;
}
.tree {
	height:100%;
}
#grass {
	width: 100%;
	position: absolute;
	bottom: 9rem;
	left: 0;
}
footer {
	position: absolute;
	bottom: 0;
	height: 9rem;
	width: 100%;
	background-color: black;
	text-align: center;
}
form {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
}
input {
	background-color: rgba(0,0,0,0);
	border: 0;
	color: #BABABA;
	outline: 0;
	text-align: center;
	font-size: 2rem;
	width: 100%;
}
